<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My cart</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-start">
            <a href="/" class="navbar-item">
                Home
            </a>
            <a href="/donate" class="navbar-item">
                Donate
            </a>
            <a href="/list" class="navbar-item">
                Donation received
            </a>
            <a href="/charity" class="navbar-item">
                Charities
            </a>
        </div>
    </div>
</nav>

<section class="hero is-link is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="columns">
                <!--<div class="columns is-centered has-background-link">-->
                <div class="column is-4">
                    <figure class="image">
                        <img src="https://user-images.githubusercontent.com/56028891/114269840-60f82800-9a4c-11eb-9624-45a14182b4f6.png"
                             alt="My Cart">

                    </figure>
                </div>
                <div class="column is-7 is-offset-1">
                    <p class="title is-1">My Cart</p>
                    <br>
                    <div class="tile is-ancestor">
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Food name</th>
                                        <th>Category</th>
                                        <th>Quantity</th>
                                        <th>Donor</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><strong>Dairy Farmers Pure Cream 600ml</strong>
                                        </td>
                                        <td>dairy food</td>
                                        <td>2</td>
                                        <td>Epic Cafe</td>
                                    </tr>
                                    </tbody>
                                </table>

                            </article>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
</body>
</html>

