<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My cart</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-start">
            <a href="/" class="navbar-item">
                Home
            </a>
            <a href="/donate" class="navbar-item">
                Donate
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a href="/login" class="button is-link">Login</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="columns is-centered has-background-link">
    <div class="column is-8 has-text-centered">
        <br>
        <br>
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title">My Cart</p><hr>

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Food name</th>
                            <th>Category</th>
                            <th>Quantity</th>
                            <th>Address</th>
                            <th>Contact Number</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><strong>Milk</strong>
                            </td>
                            <td>dairy food</td>
                            <td>500ml * 2</td>
                            <td>Melbourne</td>
                            <td>04xxxxxxxx</td>
                        </tr>
                        </tbody>
                    </table>

                </article>
            </div>
        </div>
    </div>

</div>
</body>
</html>

