<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Donation received</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-start">
            <a href="/" class="navbar-item">
                Home
            </a>
            <a href="/donate" class="navbar-item">
                Donate
            </a>
            <a href="/cart" class="navbar-item">
                Cart
            </a>
            <a href="/list" class="navbar-item">
                Donation received
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="field">
                    <input class="input" type="text" placeholder="Search Charity">
                </div>
            </div>
            <div class="navbar-item">
                <div class="buttons">
                    <a href="/login" class="button is-link">Login</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="columns is-centered has-background-link">
    <br>
    <div class="container">
        <br>
        <br>
        <p class="title has-text-white has-text-centered">Aussie Food Charities</p>
        <hr>
        <div class="tile is-ancestor">
            <div class="tile is-parent is-vertical">
                <article class="tile is-child notification is-warning is-light">
                    <p class="title has-text-centered"><a href="https://www.foodbank.org.au/">Food Bank</a></p>
                    <p class="subtitle">Food Bank is a national food relief charity providing meals and groceries to
                        international all across Australia.
                        For the contact details of your Food Bank branch, click <a
                                href="https://www.foodbank.org.au/contact-us/?state=au">here</a></p>
                </article>

                <article class="tile is-child notification is-warning is-light">
                    <p class="title has-text-centered"><a href="https://www.secondbite.org/">SecondBite</a></p>
                    <p class="subtitle">SecondBite is a food rescue organisation that supports local charities across
                        Australia.
                        Although SecondBite does not provide food relief directly, they can direct you to the correct
                        services <a href="https://www.secondbite.org/for-individuals">here</a>.</p>
                </article>
            </div>

            <div class="tile is-parent is-vertical">
                <article class="tile is-child notification is-warning is-light">
                    <p class="title has-text-centered"><a href="https://www.ozharvest.org/">Ozharvest</a></p>
                    <p class="subtitle">Ozharvest is a <strong><a
                            href="https://www.ozharvest.org/food/receive-food-individuals/">nationwide</a></strong>
                        charity
                        providing food to individuals. You may refer to them for direct food relief as an alternative
                        method to NeedFeed.</p>
                </article>

                <article class="tile is-child notification is-warning is-light">
                    <p class="title has-text-centered"><a href="https://foodforchange.org.au/">Food For Change</a></p>
                    <p class="subtitle">You can receive food from Food for Change by registering on their Food Relief
                        Organisation page.
                        They source their own fresh groceries as well as foods from individual merchants.
                        <br>
                        Location: Sandringham (VIC), Newstead (QLD)
                    <ul>
                        <li>Phone: 1300 730 189</li>
                        <li>Email: https://foodforchange.org.au/contact/</li>
                    </ul>
                    </p>
                </article>
            </div>

            <div class="tile is-parent">
                <article class="tile is-child notification is-warning is-light">
                    <p class="title has-text-centered"><a href="https://www.fareshare.net.au/">Fareshare</a></p>
                    <p class="subtitle">Fareshare provides food through soup vans, homeless shelters, women's refuges
                        and community food banks.
                        Location: Melbourne (VIC), Brisbane (QLD)
                        <br>
                        Melbourne
                    <ul>
                        <li>Phone: 03 9428 0044</li>
                        <li>Hours: Monday-Friday 9:00am-5:00pm</li>
                        <li>Email: info@fareshare.net.au</li>
                    </ul>
                    <hr>
                    Brisbane
                    <ul>
                        <li>Phone: 07 3899 3248</li>
                        <li>Hours: Monday-Friday 9:00am-5:00pm</li>
                        <li>Email: brisbane@fareshare.net.au</li>
                    </ul>
                    </p>
                </article>
            </div>
        </div>
        <br>
    </div>
</div>
</body>
</html>
