<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Donate</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>
<body>
<nav class="navbar">
    <div class="container">
        <div class="navbar-start">
            <a href="/" class="navbar-item">
                Home
            </a>
            <a href="/cart" class="navbar-item">
                Cart
            </a>
            <a href="/list" class="navbar-item">
                Donation received
            </a>
        </div>
    </div>
</nav>

<section class="hero is-link is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="columns is-vcentered">
                <div class="column is-4">
                    <figure class="image">
                        <img src="https://user-images.githubusercontent.com/56028891/114262805-5f673980-9a25-11eb-9081-3c6f3ebbf174.png"
                             alt="donate food">
                    </figure>
                </div>
                <div class="column is-7 is-offset-2">
                    <div class="column is-half">
                        <p class="title is-1">
                            Donate/ Sell Food
                        </p>
                        <br>
                        <form method="post" action="/storeFood">
                            <div class="field">
                                <div class="select">
                                    <select id="category" name="category">
                                        <option selected="true" disabled="disabled">Category</option>
                                        <option value="No Dietary Requirements">No Dietary Requirements</option>
                                        <option value="Halal">Halal</option>
                                        <option value="Vegan">Vegan</option>
                                        <option value="Non-dairy">Non-dairy</option>
                                        <option value="Gluten Free">Gluten Free</option>
                                    </select>
                                </div>
                            </div>
                            <div class="field">
                                <input class="input" type="text" id="foodName" name="foodName" placeholder="Food item name" required>
                            </div>
                            <div class="field">
                                <input class="input" type="text" id="quantity" name="quantity" placeholder="Quantity" required>
                            </div>
                            <div class="field">
                                <input class="input" type="date" id="expiryDate" name="expiryDate" placeholder="Expire Date" required>
                            </div>
                            <hr>
                            <div class="field">
                                <textarea class="textarea" id="description" name="description" placeholder="Description"></textarea>
                            </div>
                            <input class="button is-primary" type="submit" value="Submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>