<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Donate</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>
<body>
<nav class="navbar">
    <div class="container">
        <div class="navbar-start">
            <a href="/" class="navbar-item">
                Home
            </a>
        </div>

        <!--            <div class="navbar-end">-->
        <!--                <div class="navbar-item">-->
        <!--                    <div class="buttons">-->
        <!--                        <a href="/login" class="button is-link">Login</a>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
    </div>
</nav>

<section class="hero is-link is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="columns is-vcentered">
                <div class="column is-4">
                    <figure class="image">
                        <img src="https://www.flaticon.com/svg/vstatic/svg/3222/3222325.svg?token=exp=1617969866~hmac=9b31bd572fc4c0bf423186ab4d74d054"
                             alt="donate food">
                    </figure>
                </div>
                <div class="column is-7 is-offset-2">
                    <div class="column is-half">
                        <p class="title is-1">
                            Donate
                        </p>
                        <br>
                        <!--                        <div class="notification is-danger is-light">-->
                        <!--                            Thank you for your donation!-->
                        <!--                        </div>-->
                        <form method="post">
                            <div class="field">
                                <input class="input" type="text" name="food_name" placeholder="Food name" required>
                            </div>
                            <div class="field">
                                <div class="select">
                                    <select name="category">
                                        <!--                                        <input type="hidden" name="donor" value={{ current_user }}>-->
                                        <option selected="true" disabled="disabled">Category</option>
                                        <option value="breads and cereals, rice, pasta, noodle">breads and cereals,
                                            rice,
                                            pasta, noodle
                                        </option>
                                        <option value="vegetables and fruits">vegetables and fruits</option>
                                        <option value="dairy food">dairy food</option>
                                        <option value="meat">meat</option>
                                        <option value="cooking supplies">cooking supplies</option>
                                    </select>
                                </div>
                            </div>
                            <div class="field">
                                <input class="input" type="text" name="quantity" placeholder="Quantity" required>
                            </div>
                            <div class="field">
                                <input class="input" type="text" name="address" placeholder="Address" required>
                            </div>
                            <div class="field">
                                <input class="input" type="text" name="contact" placeholder="Contact Number" required>
                            </div>
                            <input class="button is-primary" type="submit" value="Submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>