<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Donation received</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-start">
            <a href="/" class="navbar-item">
                Home
            </a>
            <a href="/donate" class="navbar-item">
                Donate
            </a>
            <a href="/cart" class="navbar-item">
                Cart
            </a>
            <a href="/charity" class="navbar-item">
                Charities
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a href="/login" class="button is-link">Login</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="columns is-centered has-background-link">
    <br>
    <div class="container has-text-centered">
        <br>
        <br>
        <p class="title has-text-white">Donation received</p>
        <hr>
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child notification is-warning is-light">
                    <p class="title">Woolworths Peach Slices In Juice 820g * 3</p>
                    <p class="subtitle">from Epic Cafe</p>
                    <span class="tag is-link is-light is-medium">vegetables and fruits</span>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification is-warning is-light">
                    <p class="title">Kellogg's Corn Flakes Breakfast Cereal 220g * 1</p>
                    <p class="subtitle">from Epic Cafe</p>
                    <span class="tag is-link is-light is-medium">breads and cereals,
                                            rice,
                                            pasta, noodle</span>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification is-warning is-light">
                    <p class="title">Baked mac and cheese 1kg * 1</p>
                    <br>
                    <p class="subtitle">Epic Cafe</p>
                    <span class="tag is-link is-light is-medium">breads and cereals,
                                            rice,
                                            pasta, noodle</span>
                </article>
            </div>
        </div>
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child notification is-warning is-light">
                    <p class="title">Coles Lean Pork Mince 500g * 4</p>
                    <br><br>
                    <p class="subtitle">from Jean's Kitchen</p>
                    <span class="tag is-link is-light is-medium">meat</span>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification is-warning is-light">
                    <p class="title">Lee Kum Kee Soy Sauce Premium 1.75l * 2</p>
                    <br>
                    <p class="subtitle">from Jean's Kitchen</p>
                    <span class="tag is-link is-light is-medium">cooking supplies</span>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification is-warning is-light">
                    <p class="title">Devondale 100% Pure Full Cream Long Life Milk 200ml * 12</p>
                    <p class="subtitle">from Sunshine Market</p>
                    <span class="tag is-link is-light is-medium">dairy food</span>
                </article>
            </div>
        </div>
        <br>
        <br>
    </div>
</body>
</html>
