<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Food Donation</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-start">
            <a href="/" class="navbar-item">
                Home
            </a>
            <a href="/donate" class="navbar-item">
                Donate
            </a>
            <a href="/cart" class="navbar-item">
                Cart
            </a>
            <a href="/list" class="navbar-item">
                Donation received
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a href="/login" class="button is-link">Login</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<section class="hero is-link is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="columns is-vcentered">
                <div class="column is-4">
                    <figure class="image">
                        <img src="https://user-images.githubusercontent.com/56028891/114262619-59bd2400-9a24-11eb-8533-6feec7d0d18e.png"
                             alt="Food donation">

                    </figure>
                </div>
                <div class="column is-6 is-offset-1">
                    <p class="title is-1">
                        Welcome to Food Donation
                    </p>
                    <br>
                    <div class="buttons is-centered">
                        <a href="/signup/donor" class="button is-medium is-white is-outlined has-text-white">
                            I want to donate food
                        </a>
                        <a href="/signup/buyer" class="button is-medium is-white is-outlined has-text-white">
                            I am a food buyer
                        </a>
                        <a href="/signup/free" class="button is-medium is-white is-outlined has-text-white">
                            I need free emergency food supplies
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br><br>

<section class="section has-text-centered">
    <h1 class="title is-1">Download our mobile app!</h1>
    <br>
    <h2 class="subtitle is-4">
        Check out our food donation partners near you
    </h2>
    <br>
    <input type="button" class="button is-link is-large"
           onclick="location.href='https://drive.google.com/file/d/1E2Nhog8WcjxtjuXv8EtL4ypoAgXzoPz-/view?usp=sharing';"
           value="Download"/>
</section>


</body>
</html>
